:root {
    --accent-color: #991b1b;
    --secondary-color: #a3a3a3;
    --lighter-text: #737373;
    --light-background: #cbd5e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    background-color: var(--light-background);
}

.header {
    border: 2px solid black;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchbar, .account, .profile-display, .button-section {
    background-color: white;
    border: 1px solid black;
}

.sidebar {
    border: 2px solid black;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: .5fr 3fr 1.5fr;
    row-gap: 50px;
    padding-bottom: 500px;
    background-color: gray;
}

.logo, .navigation, .help {
    border: 1px solid black;
    background-color: white;
}

.navigation {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.logo, .nav-selection, .help-selection {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav-selection > *, .help-selection > *, .logo > *{
    border: 1px solid black;
}

.help {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.page-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 15fr;
    margin-bottom: 50px;
    background-color: var(--light-background);
    column-gap: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.section-header {
    background-color: var(--light-background);
}

.project-section {
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--light-background);
    gap: 20px;
}

.trending {
    border: 1px solid black;
    background-color: white;
}

.project {
    display: grid;
    border-radius: 10px;
    border-left: 10px solid var(--accent-color);
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 2px -2px var(--secondary-color);
}

.section-header {
    font-size: 20px;
    display: flex;
    align-items: end;
    padding-bottom: 10px;
    font-weight: bold;
}

.project-title, .project-description {
    margin-left: 15px;
    margin-right: 15px;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}

.project-description {
    font-size: 16px;
    color: var(--lighter-text);
}

.project > .reactions {
    justify-content: end;
    margin-right: 15px;
}

.reactions {
    display: grid;
    grid-template-columns: repeat(3, 45px);
}

.right-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: var(--light-background);
}

.announcement-section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--light-background);
    border-radius: 10px;
    box-shadow: 2px 0 var(--secondary-color);
}

.announcement-one, .announcement-two, .announcement-three {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-content: center;
    padding-top: 15%;
}

.announcement-title, .announcement-description {
    word-wrap: break-word;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.announcement-title {
    font-size: 14px;
    font-weight: bold;
}

.announcement-description {
    font-size: 12px;
    color: var(--lighter-text);
}

.line {
    border-bottom: 1px solid var(--secondary-color);
    margin-top: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.announcement-one {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 2px 0 var(--secondary-color);
}


.announcement-three {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px var(--secondary-color);
}

.trending-section {
    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr);
}

#trending {
    margin-top: 10px;
}